@font-face {
  font-family: "Tangerine";
  src: url('/assets/fonts/Tangerine-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "Tangerine";
  src: url('/assets/fonts/Tangerine-Bold.ttf');
  font-weight: bold;
}

:root {
  /* custom vars */
  --neutral-glow: 0px 0px 1px 1px rgba(25, 32, 15, 1.0), 0px 0px 12px 5px rgba(225, 132, 15, 1.0);

  /* pico.css OVERRIDDEN defaults */
  --border-radius: 15px;
  --font-size: 30px;
  --form-element-spacing-vertical: 0.15rem;
  --form-element-spacing-horizontal: 0.3rem;

  /* pico.css defaults */

  --font-family: "Tangerine", cursive;
  --line-height: 1.5;
  /* --font-weight: 400; */
  /* --font-size: 16px; */
  /* --border-radius: 0.25rem; */
  --border-width: 1px;
  --outline-width: 3px;
  --spacing: 1rem;
  --typography-spacing-vertical: 1.5rem;
  --block-spacing-vertical: calc(var(--spacing) * 2);
  --block-spacing-horizontal: var(--spacing);
  --grid-spacing-vertical: 0;
  --grid-spacing-horizontal: var(--spacing);
  /* --form-element-spacing-vertical: 0.75rem; */
  /* --form-element-spacing-horizontal: 1rem; */
  --nav-element-spacing-vertical: 1rem;
  --nav-element-spacing-horizontal: 0.5rem;
  --nav-link-spacing-vertical: 0.5rem;
  --nav-link-spacing-horizontal: 0.5rem;
  --form-label-font-weight: var(--font-weight);
  --transition: 0.2s ease-in-out;
  --modal-overlay-backdrop-filter: blur(0.25rem);

}

.gameTitle {
  color: rgba(12, 6, 3, 1.0);
  font-size: 2em;
  text-align: center;
  margin-top: 0.4em;
  font-weight: normal;
  text-shadow: -1px -1px 1px #EEC, 1px 1px 1px #221;
  opacity: 0.7;
}

.gameTitle .E,
.gameTitle .L,
.gameTitle .M {
  font-weight: bold;
  font-size: 2.3em;
}
.gameTitle .of {
  font-size: 0.8em;
  font-style: italic;
}


.wonLabel, .lostLabel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 5em;
  font-weight: bold;
  background-color: rgba(0,0,0, 0.2);
  overflow: hidden;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(3px);
}
.flash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 15px 15px 5px #332311, 1px 1px 0px #333, 2px 2px 0px #999;
  overflow: hidden;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.0;
  background: radial-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0));
  animation-iteration-count: 1;
  animation: fade 5s ease-out ;
}

.flash span {
  display: inline-block;
  transform: translateY(-120px);
  opacity: 0.0;
  animation-iteration-count: 1;
  animation: move var(--delay) ease-out ;

}
@keyframes fade {
  from {
    opacity: 1.0;
  }

  50% {
    opacity: 1.0;
  }
}


@keyframes move {
  from {
    transform: translateY(0);
    opacity: 1.0;
  }

  50% {
    transform: translateZ(0);
    opacity: 1.0;
  }
}




.wonLabel > div {
    text-shadow: 1px 1px 2px #E52, 0 0 1em blue, 0 0 0.2em #3AC;
}

.cards {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/assets/images/table.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.in-game-button {
  background-image: url("/assets/images/table.png");
  background-size: 320%;
  background-position: 40% 20%;
  border: 1px solid #332;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  color: #333;
}

.in-game-button:hover {
  box-shadow: var(--neutral-glow);
}


.card {
  position: absolute;
  background-color: transparent;
  perspective: 1000px;
  font-weight: bold;
  border-radius: var(--border-radius);
}

.cards.won .card.centerRow .inner {
  animation: bounce2 2s ease infinite;
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.deck-stack {
  z-index: 1;
}
.deck-stack .stack {
  position: absolute;
  background-color: transparent;
  left: var(--offset);
  top: var(--offset);
  border-radius: var(--border-radius);
  z-index: 5;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  background-image: url("/assets/images/cardbg.jpg");
  background-size: cover;
  transform: rotateZ(var(--wiggle));
}

.deck-stack .stack::after {
  content: "\00A0";
  display: block;
  position: relative;
  background-image: url("/assets/images/cardbg.jpg");
  background-size: cover;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  left: 1px;
  top: 1px;
  border-radius: var(--border-radius);
  z-index: 5;
}

.card.menu .back {
  background-image: url("/assets/images/cardbg.jpg");
  background-size: cover;
}
.card.menu .front {
  background-image: url("/assets/images/menu_card_bg.png");
  background-size: cover;
}

.home .deck-stack:hover .card {
  box-shadow: var(--neutral-glow);
}

.home .card.menu.waitingForMorePlayers {
  left: 45%;
}

.home .card.menu.waitingForMorePlayers .big {
  padding-top: 20%;
}

.home .card.menu.waitingForMorePlayers .inner {
  animation: spinning 3s linear infinite;
}

.home .card.menu.waitingForMorePlayers .back ,
.home .card.menu.waitingForMorePlayers .front {
  box-shadow: none !important;
}
.home .card.menu.waitingForMorePlayers:before {
  display: box;
  content: "\00A0";
  background: radial-gradient(rgba(9,5,0, 0.5), rgba(0,0,0, 0));
  position: absolute;
  width: 120%;
  height: 120%;
  animation: spinning-shadow 1.5s linear infinite;
}

@keyframes spinning-shadow {
  from {
    transform: scaleX(100%);
  }


  50% {
    transform: scaleX(0%);
  }

  100% {
    transform: scaleX(100%);
  }
}

@keyframes spinning {
  from {
    transform: rotateY(0);
  }

  25% {
    transform: rotateY(90deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  75% {
    transform: rotateY(270deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}


.card.menu:hover  {
  z-index: 300;
}
.card.menu .front:hover {
  box-shadow: var(--neutral-glow);
}

.card.menu .big {
  padding-top: 40%;
  text-align: center;
  left: 0;
  right: 0;

}

.card.menu .mini {
  top: 0.4em;
  left: 0.4em;
  font-size: 0.4em;
  font-weight: 400;
  line-height: 0.5em;
  text-align: left;
  opacity: 0.8;
}


.card .back {
  background-image: url("/assets/images/cardbg.jpg");
  background-size: cover;
  transform: rotateY(180deg);
  border-radius: var(--border-radius);
}
.card .front {
  background-size: cover;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  border-radius: var(--border-radius);
}

.card .inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  background-color: transparent;
}

.card .front, .card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card .big {
  position: absolute;
  top: 0;
  left: 0.2em;
  color: #335;
  line-height: 0.8em;
  text-shadow: #DD9 1px 0 15px;
  text-align: center;
}

.card .mini {
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  color: #444;
  text-shadow: #DD9 1px 0 15px;
  font-size: 0.2em;
  line-height: 0.5em;
}

.cards:not(.game-over) .card.hand:hover {
  z-index: 200 !important;
}

.card.dragged {
  pointer-events: none;
  z-index: 300;
}

.card.dropzone {
  box-shadow: 0px 0px 12px 5px rgba(50, 125, 50, 1.0);
}
.card.potentialdrop {
  box-shadow: 0px 0px 12px 5px rgba(50, 75, 125, 1.0);
}

.turn-0.cards:not(.game-over) .player-0 .back,
.turn-1.cards:not(.game-over) .player-1 .back,
.turn-2.cards:not(.game-over) .player-2 .back,
.turn-3.cards:not(.game-over) .player-3 .back,
.turn-0.cards:not(.game-over) .player-0 .front,
.turn-1.cards:not(.game-over) .player-1 .front,
.turn-2.cards:not(.game-over) .player-2 .front,
.turn-3.cards:not(.game-over) .player-3 .front {
  box-shadow: 0px 0px 1px 1px rgba(15, 7, 2, 1.0), 0px 0px 12px 5px rgba(175, 172, 85, 1.0);
}

.opponentName {
  z-index: 600;
  position: absolute;
  color: #EAEAE0;
  text-shadow: 0px 0px 2px #332311, 3px 3px 5px #332311;
  font-weight: bold;
  font-size: 1.1em;
}

.auth {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/assets/images/table.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.auth .cards {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: none;
  background-color: rgba(0,0,0, 0.3);
  overflow: hidden;
  backdrop-filter: blur(5px) saturate(10%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.auth .card {
  width: 15em;
  height: 21em;
  font-size: 1em;
}

.auth .card .front, .auth .card .back {
  background-image: url("/assets/images/menu_card_bg.png");
  background-size: cover;
  box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.4);

  display: block;
}

.auth .card .inner {
  transition: transform 1s;
}

.auth .card form {
  padding: 0 1em;
}

.auth .authError {
  color: #E63;
}

.auth .card input {
  background-color: #DFDDDD;
  box-shadow: inset 0.1em 0.1em #999;
  color: #222;
  border-color: #222;
}

.auth .card button {
  border-color: #222;
  box-shadow: 0.1em 0.1em #999;
}

.auth .card .mini {
  position: relative;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.5em;
  text-align: center;
}

.gameTitle .E,
.gameTitle .L,
.gameTitle .M {
  font-weight: bold;
  font-size: 2.3em;
}
.gameTitle .of {
  font-size: 0.8em;
  font-style: italic;
}


/* credit: https://jsfiddle.net/elin/7m3bL/ */
.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-moz-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-o-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-ms-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
